.container
{
    display:flex;      /* włącza flexbox */
}
body
{
    background-color:lightblue;
}
header
{
    background-color: yellow;
    text-align: center;
    padding: 3px;
}
nav 
{
    background-color: brown;
    width: 30%;
    height: 700px;
    padding: 1px;
}
main
{
    background-color: forestgreen;
    width: 70%;
    height: 700px;
    float: right;
    padding: 1px;
}
footer
{
    background-color: aqua;
    height: 30px;
    width: 100%;
    float: right;
}

p{
    margin-bottom: 20px;
}

.box {
    position: relative;
    width: fit-content;
}

/* obraz */
.atak img {
    transition: transform .5s;
}

.box:hover .atak img {
    transform: scaleY(10) scaleX(5) translateX(-55px) translateY(20px);
}

/* info - ukryte na start */
.informacje {
    position: absolute;
    top: -150px;
    left: 180px;
    width: 800px;
    height: 400px;

    background: rgba(200, 200, 220);
    border: 2px solid rgb(80, 80, 120);
    padding: 10px;

    opacity: 0;
    transition: 0.4s;
}

.informacje span {
    display: block;
}

/* pokazuje się przy hover */
.box:hover .informacje {
    opacity: 100;
    transform: translateX(0);
}