.container
{
    display:flex;      /* włącza flexbox */
}
body
{
    background-color:lightblue;
}
header
{
    background-color: yellow;
    text-align: center;
    padding: 3px;
}
nav 
{
    background-color: brown;
    width: 30%;
    height: 700px;
    padding: 1px;
}
main
{
    background-color: forestgreen;
    width: 70%;
    height: 700px;
    float: right;
    padding: 1px;
}
footer
{
    background-color: aqua;
    height: 30px;
    width: 100%;
    float: right;
}

p{
    margin-bottom: 20px;
}